<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    
    <div class="sidebar">
        {% include 'sidebar.html' %}
    </div>


    <div class="content">
        <h1>Welcome to WorldGen</h1>
        <p>Select a world from the sidebar to explore its details.</p>

        {% block content %}{% endblock %}
    </div>
{% block script %}{% endblock %}
</body>
</html>