{% for data in world_data["Kingdoms"].items() %}
<span style="font-size:18pt">
<b>
  {% set upper_name = [name[0]|upper,name[1:]]|join() %}
  {{upper_name}}
</b>
</span>
<table style="padding-left:50px;width:100%">
    <tr>
        <td>
            <b>Short Name: </b>
        </td>
        <td>
            <p>{{data["short_name"]}}</p>
        </td>
    </tr>
    <tr>
        <td>
            <b>Goal: </b>
        </td>
        <td>
            <p>{{data["goal"]}}</p>
        </td>
    </tr>
    <tr>
        <tr>
            <td>
                <b>Leader: </b>
            </td>
            <td>
                <p>{{data["leadership"]}}</p>
            </td>
        </tr>
        <td>
            <b>Races: </b>
        </td>
        <td>
            <p>{{ data["kingdom_properties"]["race"] }}</p>
        </td>
    </tr>
    <tr>
        <td>
            <b>Capital: </b>
        </td>
        <td>
            <p>{{data["kingdom_properties"]["capital"]}}</p>
        </td>
    </tr>
    <tr>
        <td>
            <b>Population: </b>
        </td>
        <td>
            <p>{{data["kingdom_properties"]["population"]}}</p>
        </td>
    </tr>
    <tr>
        <td>
            <b>Relationships: </b>
        </td>
    </tr>
        {% for relation in data['relationships'] %}
    <tr>
        <td colspan=2>
                <button type="button" class="collapsible" style="padding:0px;font-size:12pt;background-color:#ccc">
                    <b>{{ world_data['relationships'][relation]['to'] }}</b>
                  </button>
                  <div class="collapsible-content" style="background-color:#eee">
                    <ul>
                        <li>
                            Level: {{ world_data['relationships'][relation]["intelligence"]["level"]}}
                        </li>
                        <li>
                            Schemes Against:
                        </li>
                        <ol>
                            {% for scheme in world_data['relationships'][relation]["intelligence"]["schemes"] %}
                            <li>
                                {{ scheme }}
                            </li>
                            {% endfor %}
                        </ol>
                        <li>
                            Known Schemes:
                        </li>
                        <ol>
                            {% for scheme in world_data['relationships'][relation]["intelligence"]["known_schemes"] %}
                            <li>
                                {{ scheme }}
                            </li>
                            {% endfor %}
                        </ol>
                    </ul>
                    </ul>
                <td>
                </ul>
            </td>
        </div>
    </tr>
    {% endfor %}
    </tr>
</tr>
    </tr>

</table>
<hr>
{% endfor %}
