{% for name,data in world_data.leaders.items() %}
<span style="font-size:18pt">
<b>
  {% set upper_name = [name[0]|upper,name[1:]]|join() %}
  {{upper_name}}
</b>
</span>
<table style="padding-left:50px;width:100%">
    <tr>
        {% if data.get('kingdom') %}
        <td>
            <b>Kingdom: </b>
        </td>
        <td>
            <p>{{data["type"]}}</p>
        </td>
        {% else %}
        <td>
            <b>Faction: </b>
        </td>
        <td>
            <p>{{data["faction"]}}</p>
        </td>
        {% endif %}
    </tr>
    <tr>
        <td>
            <b>Traits: </b>
        </td>
        <td>
            <p>{{data["traits"]|join(", ")}}</p>
        </td>
    </tr>
    <tr>
        <td>
            <b>Goals: </b>
        </td>
        <td>
            <ol>
            {% for goal in data['goals'] %}
            <li>{{ goal }}</li>
            {% endfor %}
            </ol>
        </td>
    </tr>
    <tr>
        <td>
            <b>Relationships: </b>
        </td>
    </tr>
    {% for relation in data['relationships'] %}
    <tr>
        <td colspan="2">
                <button type="button" class="collapsible" style="padding:0px;font-size:12pt;background-color:#ccc">
                    <b>{{ world_data['relationships'][relation]['to'] }}</b>
                  </button>
                  <div class="collapsible-content" style="background-color:#eee">
                    <ul>
                        <li>
                            Level: {{ world_data['relationships'][relation]["intelligence"]["level"]}}
                        </li>
                        <li>
                            Schemes Against:
                        </li>
                        <ol>
                            {% for scheme in world_data['relationships'][relation]["intelligence"]["schemes"] %}
                            <li>
                                {{ scheme }}
                            </li>
                            {% endfor %}
                        </ol>
                        <li>
                            Known Schemes:
                        </li>
                        <ol>
                            {% for scheme in world_data['relationships'][relation]["intelligence"]["known_schemes"] %}
                            <li>
                                {{ scheme }}
                            </li>
                            {% endfor %}
                        </ol>
                    </ul>
                    </ul>
                <td>
                </ul>
            </td>
        </div>
    </tr>
    {% endfor %}
</tr>
</table>
<hr>
{% endfor %}
