{% for era,data in world_data.history.items() %}
<div class="era_record">
  <ul>
    <li>
      <b> {% set upper_era = [era[0]|upper,era[1:]]|join() %} {{upper_era}} </b>
    </li>
    {% for year,data in data.items() %}
    <div class="period_record">
      <ul>
        <li>Period: {{ data["period"] }}</li>
        {% if data['major events']|length > 0 %}
        <li>Major Events:</li>
        <ol>
          {% for event in data["major events"] %}
          <li>{{ event }}</li>
          {% endfor %}
        </ol>
        {% endif %}
        {% if data['minor events']|length > 0 %}
        <li>Minor Events:</li>
        <ol>
          {% for event in data["minor events"] %}
          <li>{{ event }}</li>
          {% endfor %}
        </ol>
        {% endif %}
        {% if data['perspective']|length > 0 %}
        <li>History as seen through:</li>
        <ul>
          {% for perspective,history in data["perspective"].items() %}
          <li>{{ perspective }}: {{ history }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </ul>
    </div>
    {% endfor %}
  </ul>
</div>

{% endfor %}
